.profile-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 20rem;
}



